<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.contactUsTest"/>
      <class name="testCases.careersTest"/>
      <class name="testCases.policyTest"/>
      <class name="testCases.loginTest"/>
      <class name="testCases.explorePlusTest"/>
      <class name="testCases.becomeASellerTest"/>
      <class name="testCases.flipkartStoriesTest"/>
      <class name="testCases.aboutUsTest"/>
      <class name="testCases.helpTest"/>
      <class name="testCases.pressTest"/>
      <class name="testCases.addToCartTest"/>
      <class name="testCases.flipkartWholeSaleTest"/>
      <class name="testCases.searchProductTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
